body {
    margin: 0;
    background-color: #ebeaea;
}
.header {
    background-image: url('/wedding/assets/images/header-background01-30.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
}

.titledate {
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

.hello {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: url('/wedding/assets/images/rose-branch-0.5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hello-title {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.hello-text {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.hello-title-time {
    text-align: center;
    font-size: 1em;
}

.timer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    /*background-color: #d8d4c9;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown span {
    font-weight: bold;
    font-size: 1em;
}

.timing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.timing-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}
.timing-title {
    text-align: center;
    margin: 15px auto 0 auto;
    padding: 10px;
}

.timing-time {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.image {
    margin: auto;
}

p {
    text-indent: 20px; /* Размер отступа с красной строки */
    text-align: center;
}

.horizontal-line {
    width: 100%; /* Ширина линии */
    height: 2px; /* Толщина линии */
    background-color: #313131; /* Цвет линии */
    margin: 10px 0; /* Отступы сверху и снизу */
}

.dresscode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 0 10px;
}

.hints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Ширина контейнера */
}

.accordion {
    list-style: none;
    padding: 0;
    margin: 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

.accordion-toggle {
    width: 100%;
    padding: 10px;
    background-color: #ebeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.accordion-toggle:hover {
    background-color: #e0e0e0;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 10px;
    background-color: #ebeaea;
}

.accordion-content.show {
    max-height: 100px; /* Установите максимальную высоту в зависимости от содержимого */
    padding: 10px;
}

.geo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 0 10px;
}

.map-container {
    width: 100%;
    height: 300px; /* Установите нужную высоту карты */
    margin: 15px auto;
}
