body {
    margin: 0;
    background-color: #ebeaea;
}
.header {
    background-image: url('/wedding/assets/images/pink-roses.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для читаемости текста */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    text-align: center;
}

.titledate {
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

.hello {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: url('/wedding/assets/images/rose-branch-0.5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hello-title {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.hello-text {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.hello-title-time {
    text-align: center;
    font-size: 1em;
}

.timer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    /*background-color: #d8d4c9;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown span {
    font-weight: bold;
    font-size: 1em;
}

.timing-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timing-title {
    text-align: center;
    margin: 15px auto 0 auto;
    padding: 10px;
}

.timing-time {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

hr {
    border: 0; /* Убирает стандартный бордюр */
    height: 1px; /* Толщина линии */
    background-color: #000; /* Цвет линии */
    margin: 15px 0; /* Отступы сверху и снизу */
}